.bg-black {
  background-color: black;
}

.overflow-visible {
  overflow: visible;
}

nav i {
  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2000;
  width: 50px;
  opacity: 0%;
  background-color: transparent;
  transition: opacity 300ms, background-color 300ms;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
  opacity: 0%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  transition: transform 300ms;
}

.carousel-control-prev:hover .carousel-control-prev-icon {
  transform: scale(1.3);
}

.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.3);
}

.carousel-control-prev:hover {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7497199563419117) 100%
  );
}

.carousel-control-next:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7497199563419117) 100%
  );
}

.carousel.slide:hover .carousel-control-prev,
.carousel.slide:hover .carousel-control-next {
  opacity: 80%;
}

.btn.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.carousel-item .col {
  transition: transform 300ms;
}

.carousel-item .col:hover {
  transform: scale(1.3) translateY(-11%);
  z-index: 1000;
}

.carousel-item .col:hover ~ .col {
  z-index: 500;
}

/* queries might be required for following two */

.carousel-item .col.mr-1:hover {
  transform: scale(1.3) translateY(-11%) translateX(10%);
}

.carousel-item .col.ml-1:hover {
  transform: scale(1.3) translateY(-11%) translateX(-10%);
}

/* .overlay {
  display: none;
  opacity: 0%;
  background-color: black;
  z-index: 3000;
  height: 30vh;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 300ms, opacity 300ms;
}

.carousel-item .col:hover .overlay {
  transform: translateY(30%);
  display: flex;
  opacity: 100%;
} */

#username {
  border: none;
}

#username:focus-visible {
  outline: none;
}

#language_input {
  background-color: #000;
  border: 1px solid white;
  width: 130px;
}

#pen-icon {
  opacity: 0%;
  top: 6.8rem;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  transition: opacity 250ms;
}

#edit-profile .position-relative {
  height: 9rem;
}
#edit-profile .position-relative:hover #pen-icon {
  opacity: 100%;
}
