.bg-black {
  background-color: black !important;
}

.overflow-visible {
  overflow: visible;
}

nav i {
  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2000;
  width: 50px;
  opacity: 0%;
  background-color: transparent;
  transition: opacity 300ms, background-color 300ms;
}

.carousel-control-next:focus,
.carousel-control-prev:focus {
  opacity: 0%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  transition: transform 300ms;
}

.carousel-control-prev:hover .carousel-control-prev-icon {
  transform: scale(1.3);
}

.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.3);
}

.carousel-control-prev:hover {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7497199563419117) 100%
  );
}

.carousel-control-next:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7497199563419117) 100%
  );
}

.carousel.slide:hover .carousel-control-prev,
.carousel.slide:hover .carousel-control-next {
  opacity: 80%;
}

.btn.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* media queries might be required for following two */

.carousel-item .col:hover {
  z-index: 1000;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .carousel-item .col:first-child:hover {
    transform: scale(1.03) translateY(-7%) translateX(0%);
  }
}

@media screen and (min-width: 576px) {
  .carousel-item .col:first-child:hover {
    transform: scale(1.3) translateY(-11%) translateX(10%);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .carousel-item .col:nth-child(3):hover {
    transform: scale(1.3) translateY(-11%) translateX(-10%);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-item .col:nth-child(4):hover {
    transform: scale(1.3) translateY(-11%) translateX(-10%);
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .carousel-item .col:nth-child(5):hover {
    transform: scale(1.3) translateY(-11%) translateX(-10%);
  }
}

@media screen and (min-width: 1200px) {
  .carousel-item .col:nth-child(6):hover {
    transform: scale(1.3) translateY(-11%) translateX(-10%);
  }
}

.carousel-item .col:hover {
  transform: scale(1.3) translateY(-11%);
  z-index: 1000;
}

.overlay {
  cursor: pointer;
  opacity: 0%;
  z-index: 3000;
  height: 7vh;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 300ms, opacity 300ms;
}

.carousel-item .col {
  transition: transform 300ms;
}

.carousel-item .col:hover .overlay {
  transform: translateY(100%);
  visibility: visible !important;
  opacity: 100%;
}

.overlay button {
  padding: 3px 7px;
}

#username {
  border: none;
}

#username:focus-visible {
  outline: none;
}

#language_input {
  background-color: #000;
  border: 1px solid white;
  width: 130px;
}

#pen-icon {
  opacity: 0%;
  top: 6.8rem;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  transition: opacity 250ms;
}

#edit-profile .position-relative {
  height: 9rem;
}
#edit-profile .position-relative:hover #pen-icon {
  opacity: 100%;
}

.movie-card {
  background-color: rgba(236, 230, 230, 0.747);
  color: black;
  height: 17em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .card-title {
  text-align: center;
  font-weight: 600;
}
