body {
  background-color: black;
}

#movieName,
#movieDescription,
#movieGenre,
#movieImageUrl {
  background-color: rgb(90, 90, 90);
  color: white;
}

h4 {
  color: white;
}

tbody tr img {
  transition: transform 300ms, scale 500ms;
}

tbody tr:hover img {
  scale: 3;
  transform: translateX(30%);
}
